{% extends 'base.html' %}
{% block conteudo %}
    <h1 align="center">Progresso do desenvolvimento do Projeto</h1>
    <hr>
    <h2>Quinzena 3 - Framework web em Flask com Banco de Dados SQLite</h2>
    <p>Todas as entidades do aplicativo possuem as quatro operações básicas do banco de dados: 
        Criação, Leitura, Atualização e Remoção.</p>
    </ul>
    <h2>Quinzena 4 - Acessibilidade</h2>
    <p>WCAG 2.1.3 - Teclado (sem exceção) [AAA]</p>
    <p>WCAG ...</p>
    <h2>Quinzena 5 - Testes</h2>
    <p>Pytest...</p>
{% endblock conteudo %}