{% extends 'base.html' %}
{% block conteudo %}
    <h1 align="center">Progresso do Projeto</h1>
    <hr>
    <h2>Funções CRUD do banco de dados</h2>
    <ul>
        <li>Coordenadores CRUD concluído</li>
        <li>Usuários CRUD concluído</li>
        <li>Projetos CRUD concluído</li>
        <li>Grupos CRUD concluído</li>
        <li>Alunos CRUD concluído</li>
    </ul>
    <h2>Função de busca por alunos</h2>
    <h2>Implementação de acessibilidade</h2>
    <h2>Testes</h2>
{% endblock conteudo %}