{% extends 'base.html' %}
{% block conteudo %}
    <h1 align="center">Lista de Coordenadores</h1>
    <hr>  
    <a href="{{url_for('cadastrar_coordenador')}}" class="btn btn-secondary">Cadastrar Coordenador</a>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Ações</th>
        </thead>
        <tbody>
            {% for coordenador in coordenadores %}
                <tr>
                    <td>{{coordenador.id}}</td>
                    <td>{{coordenador.nome}}</td>
                    <td>{{coordenador.email}}</td>
                    <td>
                        <a href="{{coordenador.id}}/atualiza_coordenador" class="btn btn-secondary btn-xs">Editar</a>
                        <a href="{{coordenador.id}}/excluir_coordenador" onclick="return confirm('Deseja exlcuir esse registro?')" class="btn btn-danger btn-xs">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock conteudo %}