{% extends 'base.html' %}
{% block conteudo %}
    <h1 align="center">Sobre</h1>
    <hr>
    <h2>Projeto Integrador em Computação 2</h2>
    <p>Desenvolver um software com framework web que utilize banco de dados, 
        inclua script web (Javascript), nuvem, uso de API, acessibilidade, controle de versão e testes. 
        Opcionalmente, incluir análise de dados.</p>
    <h2>Solução</h2>
    <p>Aplicativo que auxilia os alunos da UNIVESP a formarem grupos para os 
        projetos integradores e trabalhos de conclusão de curso.</p>
    <h2>Integrantes do Grupo</h2>
    <p>Aline</p>
    <p>André</p>
    <p>Marcia</p>
    <p>Mayara</p>
    <p>Nilton</p>
    <p>Robson</p>
    <h2>Coordenador</h2>
    <p>Thiago Glissoi Lopes</p>
    <h2>Ferramentas</h2>
    <p>Python, Flask, SQLAlchemy, SQLite, Heroku, Git, GitHub</p>
{% endblock conteudo %}